.Modal-modal {
	position: fixed;
    top: 250px;
    left: 360px;
    width: 55%;
    height: 60%;
    background: white;
    opacity: 1;
    z-index: 999;
    border: 2px solid #929293;
    border-radius: 5px;
}

.modal-close-button {
	text-align: center;
	height: 20px;
}

.close-btn {
	background-color: #dc0000;
	 color: white;
}