.page-header {
	text-align: center;
}

.btn-sign-in {
	background-color: #DC0000;
	text-align: center;
	color: white;
}

.sign-up {
	text-align: center;
}

.submit-button {
	text-align: center;
	padding-top: 10px;
}
