.background {
	background-color: #efefef;
}

.home-container {
	background-color: white;
	border: 1px solid #929293;
	border-radius: 5px;
}

.home-margin {
	padding-bottom: 50px;
	padding-top: 30px;
}