.hidePlease {
	visibility: hidden;
}
.showPlease {
	visibility: visible;

}

.map-margin {
	padding-top: 30px;
	padding-bottom: 50px;
}

.cuisine-container {
	background-color: white;
	margin-bottom: 30px;
	border: 2px solid #929293;
	border-radius: 10px;
}

.cuisine-icons {
	padding-top: 30px;
}

.prompt {
	font-size: 25px;
	text-align: center;
	padding-bottom: 20px;
	font-weight: bold;
	color: #707070;
}

.main-row {
	margin-left: 25px;
	margin-right: 40px;

}

.no-results {
	color: #707070;
	text-align: center;
	font-size: 20px;
}

.italian {
	background-image: url("./pizza.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.italian:hover {
	border-top: 3px solid red;
}

.seafood {
	background-image: url("./fish.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.seafood:hover {
	border-top: 3px solid red;
}

.chinese {
	background-image: url("./chinese.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.chinese:hover {
	border-top: 3px solid red;
}

.american {
	background-image: url("./hamburger.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.american:hover {
	border-top: 3px solid red;
}

.vegetarian {
	background-image: url("./leaves.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.vegetarian:hover {
	border-top: 3px solid red;
}

.sushi {
	background-image: url("./sushi.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.sushi:hover {
	border-top: 3px solid red;
}

.mexican {
	background-image: url("./taco.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.mexican:hover {
	border-top: 3px solid red;
}

.breakfast {
	background-image: url("./breakfast.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.breakfast:hover {
	border-top: 3px solid red;
}

.noodles {
	background-image: url("./noodles.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.noodles:hover {
	border-top: 3px solid red;
}

.indian {
	background-image: url("./taj-mahal.png");
	background-repeat: no-repeat;
	background-size: 65px;
	background-position: center;
	height: 100px;
}

.indian:hover {
	border-top: 3px solid red;
}

.list {
	height: 800px;
	overflow: scroll;
	background-color: white;
	border: 2px solid #929293;
	border-radius: 5px;
}

.restaurantName {
	margin-left: 1px;
	margin-top: 10px;
	font-size: 19px;
}

.address {
	margin-left: 1px;
}

.phone {
	margin-left: 1px;
}

.btn-res {
	 background-color: #dc0000;
	 color: white;
}

.res-button {
	text-align: center;
}

.modal-set-reservation {
	text-align: center;
	margin-bottom: 30px;
	font-size: 25px;
}

.modal-restaurant-name {
	text-align: center;
	margin-bottom: 10px;
	font-size: 25px;
}

.modal-restaurant-address {
	text-align: center;
	margin-bottom: 25px;
	font-size: 18px;
}

.make-res-button {
	background-color: #dc0000;
	 color: white;
}

.saved-message {
	font-size: 30px;
	text-align: center;
	margin-top: 150px;
}

.label {
	text-align: center;
}

.label-text {
	color: black;
	font-size: 15px;
	color: #dc0000;
}

.second-row {
	margin-bottom: 30px;
}

