.page-header {
	text-align: center;
}

.btn-sign-up {
	background-color: #DC0000;
	text-align: center;
	color: white;
}

.sign-up {
	text-align: center;
}

.create-account-button {
	text-align: center;
	padding-top: 35px;
}