hr {
	color: black;
	border-width: 2px;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

.background {
	background-color: #efefef;
}

.table-container {
	background-color: white;
	border: 2px solid #929293;
	border-radius: 10px;
}

.page-title {
	margin-left: 25px;
}

.table {
	margin-top: 30px;
	padding: 0px 20px 20px 20px;
}

.margin {
	padding-top: 30px;
	padding-bottom: 400px;
}