hr {
	color: black;
	border-width: 2px;
	margin-top: 0px;
}

.background {
	background-color: #efefef;
}

.table-container {
	background-color: white;
	border-radius: 5px;
}

.table {
	margin-top: 30px;
}

.margin {
	padding-top: 30px;
	padding-bottom: 400px;
}